body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    text-align: center;
    background-color: #833471;
    color: #dfe4ea;
}

.header {
    margin:3vh ;
    font-size: xx-large;
    letter-spacing: 1vw;
}

form {
    text-align: center;
    width:50%;
    height:40px;
    margin:2px auto ;
    letter-spacing: 6px;
    padding: 1vh 2vw;
    position:relative ;
}

#map{
    height:40%;
    width:50% ;
    margin:10px auto;
    display: none;
}

input {
    width:75%;
    height:5.5vh;
    border-radius: 5px;
    box-shadow:2px 2px  #dfe4ea;
    letter-spacing: 10;
    text-align: center;
    font-weight:lighter;
    font-size: medium;
}

ul {
    position: absolute;
    width:50%;
    padding: 0px;
    top:5.5vh ;
    left:25% ;
    border:0.5px solid rgba(185, 182, 182, 0.5);
    border-radius: 8px;
    list-style-type: none;
    font-size: 0.8rem;
}

li {
    border:0.5px solid rgba(177, 175, 175, 0.5);
    padding:12px;
    cursor: pointer;
}

li:hover {
    background-color: aliceblue;
    color:rgb(88, 87, 87);
    border:1px solid rgb(88,87,87);
    font-size:medium;
    font-weight: bold;
}

img {
    width:13vw ;
    height:7vh;
}

.mainCard {
    width:40%;
    position: relative;
    margin: 3vh auto;
    height:35%;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #dfe4ea, -5px -5px 10px #dfe4ea ;
    padding: 3vh 2vw 6vh 10%;
    display: none;
    grid-template-columns: 15vw 15vw;
    box-sizing: content-box;
}


.dataCard {
     width:50%;
     margin: 10px auto;
     display: grid;
     grid-template-columns: auto auto;
 }

h4 {
     font-size: 3vw;
     display : none ;
 }

h2 {
     color: #1e272e;
 }

.dataCard > div {
     border: 1px solid black;
     margin:1vh 1vw ;
     padding:1vh 1vw;
     box-shadow: 1px 1px 10px #dfe4ea;
 }

.dataCard > div:hover{
     background: #dfe4ed;
     color: #833471;
     box-shadow: 1px 1px 5px black;
     cursor: pointer;
     transition:1s ease-in;
 }

.mainCard:hover{
    background: #dfe4ed;
    color: #833471;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    transition:-1s ease-in;
}

@media only screen and  (max-width:700px){
    .dataCard {
        display: grid;
        grid-template-columns: auto;
    }
    #map {
        height:30%;
        width:70%;
    }
    .mainCard {
        display: grid;
        grid-template-columns: auto;
        height:auto;
        text-align: center;
        padding: auto;
    }
    .mainCard > img {
        margin: auto;
        width:50%;
        height:5vh;
    }
}